<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HIS_Tester.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <HIS_Tester.My.MySettings>
            <setting name="HIS_Tester_RWWebServices_RWWebServices" serializeAs="String">
                <value>http://192.168.110.2/RWWebServer/WebServices/RWWebServices.asmx</value>
            </setting>
            <setting name="HIS_Tester_PackageSenderWebService_PackageSenderWebService"
                serializeAs="String">
                <value>http://192.168.110.2/rwsepas02/WebServices/PackageSenderWebService.asmx</value>
            </setting>
            <setting name="HIS_Tester_PocsWebService_POCSWebService" serializeAs="String">
                <value>http://192.168.110.2/rwsepas02/WebServices/PocsWebService.asmx</value>
            </setting>
        </HIS_Tester.My.MySettings>
    </applicationSettings>
</configuration>


